html{
  min-height: 100%;
}

body{
  padding: 0px 0px 0px 0px;
  background: url("assets/images/bg.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.social-links{
  margin-top: 2em;
}

.social-links div{
  padding-bottom: 1em;
}

.footer {
  font-family: "Nunito";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
}

.logo{
  vertical-align: middle;
  width: 100px;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('assets/images/bg.jpeg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

@media screen and (max-width:750px){
  .logo{
    width: 100px;
  }

  .footer h2{
    font-size: 18pt;
  }
}

@media screen and (max-width:500px){
  .social-logo{
    width: 40px;
  }
}

@media screen and (max-height: 450px) {
  .logo{
    width: 200px;
  }
}

@media screen and (max-width:640px){
  .logo{
    width: 80px;
  }

  .footer h2 span{
    font-size: 12pt;
  }

  .social-logo{
    width: 40px;
  }
}

@media screen and (max-width:360px){
  .social-logo{
    width: 32px;
  }

  .footer h2 span{
    font-size: 10pt;
  }
}

@media screen and (max-device-width: 800px){
  #bg-video{
    display: none;
  }
}
